<div class="container">
  <div class="row">
    <div class="col-12">
      <p></p>
      <div class="d-flex justify-content-center align-items-center">
        <span>
          login via &nbsp;
        </span>
        <a href="https://oauth.vk.com/authorize?client_id={{client_id}}&display=page&redirect_uri=http://{{domain}}/save&scope=friends&response_type=token&v=5.103&state=123456">
          <img src="/assets/res/ic-vk.png" width="40" height="40" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
